name: .NET Desktop Build Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    strategy:
      matrix:
        configuration: [Release]  # Only build Release, not Debug

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore StarResonanceDpsAnalysis.slnx

    - name: Build Artifact
      run: dotnet publish StarResonanceDpsAnalysis.WPF/StarResonanceDpsAnalysis.WPF.csproj -c ${{ matrix.configuration }} --self-contained -o StarResonanceDps -f net8.0-windows

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: StarResonanceDps
        path: StarResonanceDps
        if-no-files-found: error
